        <div class="footer">
            <footer>
                <ul class="social_icon">
                    <li><a href="https://twitter.com/UmangRa10799742"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="https://www.linkedin.com/in/umang002/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href="https://www.facebook.com/umang.rathod.5439087"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="https://www.instagram.com/u_m_a_n_g_r_a_t_h_o_d/"><ion-icon name="logo-instagram"></ion-icon></a></li>
                </ul>
                <ul class="menu">
                    <form action="/" method="get"><button class="footer-links" type="submit">Home</button></form>
                    <form action="/about" method="get"><button class="footer-links" type="submit">About</button></form>
                    <form action="/webDev" method="get"><button class="footer-links" type="submit">Web Development</button></form>
                    <form action="/appDev" method="get"><button class="footer-links" type="submit">App Development</button></form>
                </ul>
                <p>©Copyright 2022 | All right reserved | Gujarat, India</p>
            </footer>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </div>
    </body>
</html>