<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/filenotfound.css">
        <link rel="stylesheet" href="../css/selector.css">
        <title>Error 404</title>
    </head>
    <body>
        <div class="container">
            <div class="left">
                <div class="content">
                    <h1>Oh god!</h1>
                    <p>Requested url does not exist</p>
                    <form action="/" method="get"><button class="home-link" type="submit">Go back to home</button></form>
                </div>
            </div>
            <div class="right">
                <div class="lottiPlayer">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_suhe7qtm.json"  background="transparent"  speed="1"  style="width: 550px; height: 550px;"  loop autoplay></lottie-player>
                </div>
            </div>
        </div>
    </body>
</html>